= content_for :title, "Welcome to Come Malaka"
%h2 Packoooook Malaka
%p Welcome to Come Malaka. #{link_to "Sign in", new_user_session_path} or #{link_to "sign up", new_user_registration_path} for an account to start using the Come Malaka app.
