= content_for :title, "You owe whom?"
= link_to "Back to expense summary", expense_report_path(@event)
%br
%br
%ul{style: "list-style-type:none"}
	- @total_amounts.each do |payer, amount|
		%li
			%u= "You owe " + payer.short_name + " " + money_format(amount, @event.event_currency) + " in total"
		%ul
			- @item_lists[payer].each do |item|
				%li= "You owe " + payer.short_name + " " + money_format(item.cost_per_beneficiary, @event.event_currency) + " on the " + item.value_date.strftime('%d %b %Y') + " for item " + item.name + " (" + item.description + ")"