/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui/datepicker
 *= require_tree .
 *= require_self

 */

 @import "foundation_and_overrides";

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: inline;
}

div.beta_testing {
  position:absolute;
  top: 50px;
  right:0;
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(7deg);
  color: red;
  border-color: red;
  border-top-style: solid;
  border-bottom-style: solid;
}

p.notice {
	font-weight: bold;
}

p.alert {
	color: red;
	font-weight: bold;
}